<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="login" text=""></ion-back-button>
    </ion-buttons>
    <!-- <ion-title>login</ion-title> -->
  </ion-toolbar>
</ion-header>
<ion-content class="bg-color">
  <ion-card class="ion-no-margin">
    <ion-card-header>
      <ion-card-title >
        Sign Up
      </ion-card-title>
      <ion-card-subtitle >
        Create Your account by filling
    up the form</ion-card-subtitle>

    </ion-card-header>
    <ion-card-content>

<div class="wrapform">
  <ion-item>
    <ion-input type="text" name="person" placeholder="full name" #name required>
      <ion-icon slot="start" name="person-outline"></ion-icon>
    </ion-input>

  </ion-item>
  <ion-item>
    <ion-input type="text" name="phone" placeholder="phone number" #mobile required>
      <ion-icon slot="start" name="call-outline"></ion-icon>
    </ion-input>

  </ion-item>
  <ion-item>
    <ion-input type="text" name="email" placeholder="email" #email required>
      <ion-icon slot="start" name="mail-outline"></ion-icon>
    </ion-input>

  </ion-item>
  <ion-item>
    <ion-input type="password" name="password" placeholder="password" #password required>
      <ion-icon slot="start" name="lock-closed-outline"></ion-icon>
    </ion-input>

  </ion-item>
   </div>

   <div class="wrap-signupbtn">
    <ion-button shape="round" fill="solid" class="signupbtn ion-text-lowercase" (click)="signup(name,mobile,email,password)">Sign Up</ion-button>
  </div>
  <div class="text-tag">
    <span>sign up with</span>
  </div>
    <div class="social-btn">
      <ion-button fill="clear"  class="facebookbtn ion-no-padding">
        <ion-img src="assets/imgs/facebook.png"></ion-img>
      </ion-button>
      <ion-button fill="clear"  class="googlebtn ion-no-padding">
        <ion-img src="assets/imgs/google.png"></ion-img>
      </ion-button>
      <ion-button fill="clear"  class="applebtn ion-no-padding">
        <ion-img src="assets/imgs/apple.png"></ion-img>
      </ion-button>

    </div>

    </ion-card-content>
    </ion-card>

</ion-content>
