ion-header{
  position: absolute;
}
ion-toolbar{
  --ion-background-color:transparent;
  --opacity:0;
}
ion-content{
  --ion-background-color:#E1EAF9;
}
.bg-color
{
  --ion-background-color:#E1EAF9;
}
.signup-div
{
  text-align: center;
}
.wrapform{
  margin-top: 10px;
}
ion-item{
  font-size: 12px;

  ion-input{
    color: #647B9D;
    ion-icon{
      font-size: 18px;
      padding-right: 6px;
    }
  }
}
ion-card-header{

  text-align: center;
}
ion-card-title{
  margin-top: 40px;
  font-weight: 600;
  color: #53565A;
  font-size: 20px;

}

ion-card-subtitle{
  color: #888C91;
  font-size: 12px;
  font-weight: 300;
  padding-top: 15px;
}
.wrap-signupbtn{
  text-align: center;
  padding-top: 30px;
  .signupbtn{
    --ion-primary-color:#215AB7;
    --color:#F4F6FA;
    width: 50%;
  }
}

.text-tag{
  margin-top: 20px;
  text-align: center;
}
span{
 font-size: 13px;
 font-weight: normal;
 color: #184CB4;

}
.social-btn{
  text-align: center;
  margin-top: 30px;
  ion-button{
    width: 40px;

    padding-left: 5px !important;
  }
 }

 ion-card{
   --ion-background-color:transparent;
   box-shadow: none;
 }
