<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home" text=""></ion-back-button>
    </ion-buttons>
    <!-- <ion-title>login</ion-title> -->
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class="ion-no-margin">
    <ion-img src="assets/imgs/header1.png">
    </ion-img>
    <ion-card-content>
      <div class="wrapform">
        <ion-item>
          <ion-input type="text" name="email" placeholder="email" #email required>
            <ion-icon slot="start" name="mail-outline"></ion-icon>
          </ion-input>

        </ion-item>
        <ion-item>
          <ion-input type="password" name="password" placeholder="**********" #password required>
            <ion-icon slot="start" name="lock-closed-outline"></ion-icon>
          </ion-input>

        </ion-item>
      </div>
      <div class="forget-password">
        <ion-button fill="clear" class="ion-no-padding ion-text-lowercase" (click)="forgetPassword()">Forget Password?</ion-button>
      </div>

      <div class="wrap-loginbtn">
        <ion-button shape="round" fill="solid" class="loginbtn ion-text-lowercase" (click)="  signIn(email,password)">Login</ion-button>
      </div>
      <div class="text-tag">
        <span>Login Via</span>
      </div>
        <div class="social-btn">
          <ion-button fill="clear"  class="facebookbtn ion-no-padding">
            <ion-img src="assets/imgs/facebook.png"></ion-img>
          </ion-button>
          <ion-button fill="clear"  class="googlebtn ion-no-padding">
            <ion-img src="assets/imgs/google.png"></ion-img>
          </ion-button>
          <ion-button fill="clear"  class="applebtn ion-no-padding">
            <ion-img src="assets/imgs/apple.png"></ion-img>
          </ion-button>

        </div>


    </ion-card-content>
  </ion-card>
  <div class="ion-card-footer">
    <span >Don’t have an account?</span>
    <button fill="clear" class="ion-no-padding ion-text-lowercase"> Sign Up</button>
  </div>
</ion-content>
