ion-header{
  position: absolute;
}
ion-toolbar{
  --ion-background-color:transparent;
  --opacity:0;
}
ion-content{
  --ion-background-color:#E1EAF9;
}
.wrapform{
  margin-top: 10px;
}
ion-item{
  font-size: 12px;

  ion-input{
    color: #647B9D;
  }
}
.forget-password{
  text-align: right;
  ion-button{
    font-size: 12px;
  }
}
.wrap-loginbtn{
  text-align: center;
  padding-top: 10px;
  .loginbtn{
    --ion-primary-color:#215AB7;
    --color:#F4F6FA;
    width: 50%;
  }
}

.text-tag{
  margin-top: 20px;
  text-align: center;
}
span{
 font-size: 13px;
 font-weight: normal;
 color: #184CB4;

}
.social-btn{
 text-align: center;
 margin-top: 30px;
 ion-button{
   width: 40px;

   padding-left: 5px !important;
 }
}

ion-card{
  --ion-background-color:transparent;
  box-shadow: none;
}
.ion-card-footer{
  width: 100%;
  height: 40px;
  align-items: center;
  justify-content: center;
  display: flex;
  text-align: center;
  span{
    font-size: 12px;
    width: 200;
    color:#85888D;
  }
}
button{
  font-size: 14px;
  width: 600;
  padding-left: 3px;
  background-color: transparent;
  color:#535558;
}
button:hover{
  color:#929eaf;
}
ion-icon{
  font-size: 18px;
  padding-right: 6px;
}
ion-input:hover{
  color: #1248A0;
}
