
<ion-content class="ion-no-border" >
<ion-card class="ion-no-margin">
  <ion-img src="assets/imgs/header.png"></ion-img>
  <ion-card-header>
    <ion-card-title>
      welcome
    </ion-card-title>
    <ion-card-subtitle>
      This app is a social media platform for
      artists — and it’s all about visuals</ion-card-subtitle>

  </ion-card-header>

<ion-card-content>
  <div class="login-signup">
    <ion-button size="small" fill="solid" shape="round" class="loginbtn ion-text-lowercase" (click)="gotoSignIn()">login</ion-button>
    <ion-button size="small" fill="outline" shape="round" color="dark" class="ion-text-lowercase" (click)="gotoSignUp()">sign up</ion-button>

  </div>
<div class="text-tag">
  <span>Or via Social Media </span>
</div>
  <div class="social-btn">
    <ion-button fill="clear"  class="facebookbtn ion-no-padding">
      <ion-img src="assets/imgs/facebook.png"></ion-img>
    </ion-button>
    <ion-button fill="clear"  class="googlebtn ion-no-padding">
      <ion-img src="assets/imgs/google.png"></ion-img>
    </ion-button>
    <ion-button fill="clear"  class="applebtn ion-no-padding">
      <ion-img src="assets/imgs/apple.png"></ion-img>
    </ion-button>

  </div>
</ion-card-content>
</ion-card>

</ion-content>
