.ion-no-border
{
  --ion-background-color:#E1EAF9;
}
ion-card-header{

  text-align: center;
}
ion-card-title{
  margin-top: 30px;
  font-weight: 600;
  color: #080808;
  font-size: 30px;

}

ion-card-subtitle{
  color: #898585;
  font-size: 12px;
  font-weight: 300;
  padding-top: 15px;
}
.login-signup{
  margin-top: 25px;
  text-align: center;
  ion-button{

    width: 40%;
    height: 40px;

  }
}
.loginbtn{
   --ion-color-primary:#215AB7;

}
.text-tag{
   margin-top: 30px;
   text-align: center;
}
span{
  font-size: 13px;
  font-weight: normal;
  color: #898585;

}
.social-btn{
  text-align: center;
  margin-top: 40px;
  ion-button{
    width: 40px;

    padding-left: 5px !important;
  }
}
ion-card{
  --ion-background-color:transparent;
  box-shadow: none;
}
