ion-header{
  position: absolute;
}
ion-toolbar{
  --ion-background-color:transparent;
  --opacity:0;
}
ion-content{
  --ion-background-color:#E1EAF9;
}
ion-card-header{

  text-align: center;
}
ion-card-title{
  margin-top: 70px;
  font-weight: 400;
  color: #080808;
  font-size: 30px;

}

ion-card-subtitle{
  color: #898585;
  font-size: 12px;
  font-weight: 200;
  padding-top: 15px;
}
.wrapform{
  margin-top: 30px;
}
ion-item{
  font-size: 12px;

  ion-input{
    color: #647B9D;
    ion-icon{
      font-size: 18px;
      padding-right: 6px;
    }
  }
}
.wrap-forgetPassbtn{
  text-align: center;
  padding-top: 60px;
  .forgetpassbtn{
    --ion-primary-color:#215AB7;
    --color:#F4F6FA;
    width: 50%;
  }
}
ion-card{
  --ion-background-color:transparent;
  box-shadow: none;
}
