<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="login" text=""></ion-back-button>
    </ion-buttons>
    <!-- <ion-title>login</ion-title> -->
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-card class="ion-no-margin">
    <ion-card-header>
      <ion-card-title>
        forgot password
      </ion-card-title>
      <ion-card-subtitle>
        enter your email here to reset your password</ion-card-subtitle>

    </ion-card-header>
    <ion-card-content>
      <div class="wrapform">
        <ion-item>
          <ion-input type="text" name="email" placeholder="email" [(ngModel)]="email" required>
            <ion-icon slot="start" name="mail-outline"></ion-icon>
          </ion-input>

        </ion-item>
        </div>

        <div class="wrap-forgetPassbtn">
          <ion-button shape="round" fill="solid" class="forgetpassbtn ion-text-lowercase">Reset</ion-button>
        </div>
        </ion-card-content>
</ion-card>
</ion-content>
